# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Databases
*.db
data/

# Environment / Secrets
.env

# Logs
*.log
mqtt_logger.log
sensor_pub.log
weather_service.log

# Streamlit
.streamlit/

# OS
.DS_Store
.history/
smartfarm.sqlite3
weather_data.csv
